<nav class="navbar navbar-expand py-3 bg-dark-subtle">

    <div class="container-fluid">

        <a class="navbar-brand fs-2 mx-3" href="/">
            💵 RoryBucks 💵
        </a>

        <ul class="navbar-nav my-2 my-lg-0">

            <button class="nav-item btn btn-success mx-3">
                <a href="/login" class="nav-link fw-bold text-white">
                    Login
                </a>
            </button>

            <button class="nav-item btn btn-success mx-3">
                <a href="/register" class="nav-link fw-bold text-white">
                    Register
                </a>
            </button>

        </ul>
    </div>

</nav>